<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>384082262849-8oicalfsqqnql7uaaa61cdprejlth7ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.384082262849-8oicalfsqqnql7uaaa61cdprejlth7ci</string>
	<key>API_KEY</key>
	<string>AIzaSyBlSqfmzaq0u9x6mB_T30xT2zDWCRPu0l8</string>
	<key>GCM_SENDER_ID</key>
	<string>384082262849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.bepo.flutterWhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-clone-f4adf</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-clone-f4adf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:384082262849:ios:6f214b433ababc21feffc0</string>
</dict>
</plist>